<div id="sy-profile-overlay" tabindex="0" class="overlay" sy-escape>

  <!-- Button to close the overlay navigation -->
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

  <!-- Overlay content -->
  <div class="overlay-content">
    <img src="../Students_Profile.png"></img>
  </div>

</div>
