*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Abril Fatface", "Open Sans", "PT Sans", sans-serif;
  color: #505260;
  background-color: #fff;
  position: relative;
  vertical-align: middle;
}

header {
  text-align: center;
}

.sy-dp {
  position: relative;
  height: 128px;
  width: 128px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  zoom: 0.70;
  transform: translateZ(0);
  -webkit-transform: scale(0.70);
  -moz-transform: scale(0.70);
}

.news-btn-panel .md-raised, .news-btn-panel .md-primary {
    background-color: #fff;
    color: #21618C;
    margin: 15px 0;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    -ms-transition: all .2s;
    transition: all .2s;
}

.news-btn-panel .md-raised:hover, .news-btn-panel .md-primary:hover {
    border: 1.5px solid cadetblue;
    background-color: #21618C;
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

.md-card {
  display: block;
}

input, textarea {
  font-family: "Abril Fatface", "Open Sans", "PT Sans", sans-serif;
  font-size: 16px;
  font-size: 2rem;
}

input::-ms-clear, textarea::-ms-clear {
  display: none;
}

input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date],
input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 1.5rem;
  margin: 0 0 15px 0;
  padding: 0;
  padding-left: 5px;
  box-shadow: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  transition: all .3s;
}

input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid cadetblue;
    box-shadow: 0 1px 0 0 cadetblue;
}

.infinite-scroll-btn {
  border: none;
  background-color: white;
  color: #21618C;
}

.sy-input-div {
  position: relative;
  }
  .sy-input-div label {
    color: #9e9e9e;
    position: absolute;
    top: 0.8rem;
    left: 2rem;
    font-size: 1.25rem;
    cursor: text;
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    -ms-transition: .2s ease-out;
    transition: .2s ease-out; }
  .sy-input-div label.active {
    -webkit-transform: translateY(-140%);
    -moz-transform: translateY(-140%);
    -ms-transform: translateY(-140%);
    -o-transform: translateY(-140%);
    transform: translateY(-140%);
    color: cadetblue;}
  @media only screen and (max-width : 992px) {
    .sy-input-div .prefix ~ input {
      width: 86%;
      width: calc(100% - 3rem); } }
  @media only screen and (max-width : 600px) {
    .sy-input-div .prefix ~ input {
      width: 80%;
      width: calc(100% - 3rem); }
}

.news-item {
  border: 1px !important;
  border-color: #21618C !important;
  padding-bottom: 5px !important;
  margin-bottom: 10px !important;
  display: block !important;
}

.news-item:hover {
  border: 1px !important;
}

.news-content {
  list-style: none;
  border: 1px, solid !important;
  border-color: #21618C;
}

.news-headline {
  background-color: cadetblue;
  color: white;
  display: block;
}

.news-search {
  color: cadetblue;
}

.view-container {
  position: relative;
}

.view-frame.ng-enter,
.view-frame.ng-leave {
  background: white;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.view-frame.ng-enter {
  animation: 1s fade-in;
  z-index: 9;
}

.view-frame.ng-leave {
  animation: 1s fade-out;
  z-index: 8;
}

@keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to   { opacity: 0; }
}

.hover-effect {
    align-self: center !important;
    align-content: center !important;
    position: relative !important;
    display: inline-block !important;
    font-size: 1rem;
}

.hover-effect::after, .hover-effect::before {
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform .3s, opacity .2s;
    -moz-transition: -moz-transform .3s, opacity .2s;
    transition: transform .3s, opacity .2s
}

.hover-effect::before {
    width: 20px;
    text-align: right;
    margin-right: 5px;
    margin-left: -25px;
    content: '[';
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px)
}

.hover-effect::after {
    width: 20px;
    text-align: left;
    margin-left: 5px;
    margin-right: -25px;
    content: ']';
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px)
}

.hover-effect:hover {
  background-color: white !important;
}

.hover-effect:focus:after, .hover-effect:focus:before, .hover-effect:not(.active):hover:after,
.hover-effect:not(.active):hover:before {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px)
}
