
<div class="container">
  <div layout="column">
    <md-list flex="100" class="news-item">
      <md-list-item flex="100" ng-repeat="item in $ctrl.restResult.news | filter:$ctrl.query | limitTo:$ctrl.numberOfItemsToDisplay">
        <div layout="column">
        <md-button onclick="openNav()" layout="row">
          <md-card class="md-whiteframe-3dp" data-ng-style="{'width': '1050px', 'border-radius': '6px'}" flex="100" md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
            <md-card-title>
              <md-icon md-svg-src="./company-dp.svg" class="sy-dp"></md-icon>
              <md-card-title-text>
                <span class="md-headline">{{item.category}}</span>
                <span class="md-subhead">{{item.snippet}}</span>
              </md-card-title-text>
              <md-card-title-media>
                <div class="md-media-sm card-media"></div>
              </md-card-title-media>
            </md-card-title>
          </md-card>
        </md-button>
      </div>
      </md-list-item>
    </md-list>
  </div>

  <div class="row">
    <footer class="container-fluid text-center">
        <a href="#home-body" title="To Top">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </a>
        <button class="infinite-scroll-btn" ng-click="$ctrl.addMoreItem()">
            <span class="glyphicon glyphicon-chevron-down"></span>
        </button>
    </footer>
  </div>
  <div class="row">
    <p>&nbsp;<p>
  </div>
</div>
